.root {
    -fx-font-size: 9pt;
    -fx-base: #757575;
    /*    -fx-text-fill: red;*/
    /*-fx-font-family: "Verdana";*/
}

.tool-bar {
    -fx-background-color: #575757;
}

/*
 * Button
 */

Button {
    -fx-background-color: #fafafa;
    -fx-border-color: #e8e8e8;
    -fx-border-width: 1;
    -fx-text-fill: #575757;
}

Button:hover {
    -fx-background-color: #e8e8e8;
}

/*
голубой 00aff5
светло синий 008dd4
темно синий 004d70
серый 757575
темно серый 575757
светло серый a8a8a8
белый fafafa
*/
/*
 * Tooltip
 */

#tooltipWordButton, .tooltip {
    -fx-background-color: #575757;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-opacity: 0.9;
}

#tooltipWordButton .text {
    -fx-fill: #00aff5;
    -fx-stroke: #004d70;
    -fx-stroke-width: 1;
}

.tooltip .text {
    -fx-fill: #fafafa;
}

/*
 * translationsContainer (GridPane)
 */

#translationsContainer {
    -fx-background-color: #e8e8e8;
}

/*
 * WordButton
 */

WordButton {
    -fx-text-fill: #00aff5;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

WordButton .text {
    -fx-stroke: #004d70;
    -fx-stroke-width: 1;
    /*-fx-effect: dropshadow(two-pass-box, grey, 5, 0, 0, 2);*/
}

/*
 * TableView
 */

.table-view {
    -fx-border-color: #fafafa;
    -fx-border-width: 1;
    -fx-base: #575757;
}

.table-view .column-header .label {
    -fx-text-fill: #fafafa;
}

.table-view .text-field {
    -fx-text-fill: #575757;
    -fx-text-box-border: none;
    -fx-background-color: transparent;
}

.table-view .table-row-cell {
    -fx-background-color: #e8e8e8;
    -fx-border-color: #fafafa;
    -fx-border-width: 0.3;
    -fx-table-cell-border-color: #fafafa;
}

/*
 * CheckBox
 */

.check-box .box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 0;
    -fx-padding: 0.25em; /* 3 -- padding from the outside edge to the mark */
}

.check-box:selected .mark {
    -fx-background-color: #575757;
}

/*
 * Pane
 */

#mainPane {
    -fx-background-color: #e8e8e8;
}

/*
 * ComboBox
 */

.combo-box-base .arrow {
    -fx-background-color: #575757;
}

.combo-box-base:focused .arrow-button .arrow {
    -fx-background-color: #e8e8e8;
}

.combo-box-base {
    -fx-background-color: #b5b5b5;
    -fx-background-radius: 0;
    -fx-border-color: #575757;
    -fx-border-width: 0.5;
    -fx-padding: 0;
}

.combo-box-base:hover {
    -fx-background-color: #cccccc;
}

.combo-box-base:focused {
    -fx-background-color: #575757;
    -fx-background-radius: 0;
}

.combo-box-popup .list-view {
    -fx-background-color: #e8e8e8;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-background-color: #e8e8e8;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #757575;
    -fx-text-fill: #fafafa;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #cccccc;
    -fx-text-fill: #fafafa;
}

.combo-box .list-cell {
    -fx-background-color: #e8e8e8;
    -fx-text-fill: #575757;
}

.combo-box-base:hover {
    -fx-color: fafafa;
}

.combo-box-base:showing {
    -fx-color: #e8e8e8;
}

/*
 * TitledPane
 */

.titled-pane {
    -fx-effect: dropshadow(three-pass-box, #9F9F9F, 15, 0, 0, 0);
    -fx-animated: true;
    -fx-text-fill: #575757;
}

.titled-pane .title {
    -fx-background-color: #e8e8e8;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent transparent #575757 transparent;
    -fx-border-width: 1;
}

.titled-pane .content {
    -fx-background-color: #e8e8e8;
}

/*
 * Undecorator
 */
/*
    The Stage background.
    Currently a Rectangle node
*/
.decoration-background {
    -fx-fill: #a8a8a8;
    -fx-stroke-width: 0;
    -fx-arc-width: 0px;
    -fx-arc-height: 0px;
}

/*
    Defines the rectangle responsible for the shadow
*/
.decoration-shadow {
    -fx-stroke-width: 0;
    -fx-arc-width: 0px;
    -fx-arc-height: 0px;
}

/*
 Used to declare the definition of stage resize zone
*/
.decoration-resize {
    -fx-fill: null; /* avoid mouse events in the middle*/
    -fx-border-color: transparent;
    -fx-border-width: 5;
    -fx-border-insets: 0;
}

/*
    The title bar label
*/
.undecorator-label-titlebar {
    -fx-text-fill: #575757; /*if defined here, so way to override it in external apps*/
    -fx-font-size: 14;
}

/*
 *	Menu button
*/
.decoration-button-menu {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: red;
    -fx-background-image: url("/images/menu-hover.png");
    -fx-background-repeat: no-repeat;
}

.decoration-button-menu:hover {
    -fx-background-color: null;
    -fx-background-image: url("/images/menu.png");
    -fx-background-repeat: no-repeat;
}

/*
*	Minimize button
*/
.decoration-button-minimize {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-background-image: url("/images/minimize.png");
    -fx-background-repeat: no-repeat;
}

.decoration-button-minimize:hover {
    -fx-background-color: null;
    -fx-background-image: url("/images/minimize-hover.png");
    -fx-background-repeat: no-repeat;
}

/*
*	Maximize button
*/
.decoration-button-maximize {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-background-image: url("/images/maximize.png");
    -fx-background-repeat: no-repeat;
}

.decoration-button-maximize:hover {
    -fx-background-color: null;
    -fx-background-image: url("/images/maximize-hover.png");
    -fx-background-repeat: no-repeat;
}

.decoration-button-restore {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-background-image: url("/images/restore.png");
    -fx-background-repeat: no-repeat;
}

.decoration-button-restore:hover {
    -fx-background-color: null;
    -fx-background-image: url("/images/restore-hover.png");
    -fx-background-repeat: no-repeat;
}

/*
*	Close button
*/
.decoration-button-close {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-background-image: url("/images/close.png");
    -fx-background-repeat: no-repeat;
}

.decoration-button-close:hover {
    -fx-background-color: null;
    -fx-background-image: url("/images/close-hover.png");
    -fx-background-repeat: no-repeat;
}

/*
*	Fullscreen button
*/
.decoration-button-fullscreen {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-background-image: null;
    -fx-background-repeat: no-repeat;
}

.decoration-button-fullscreen:hover {
    -fx-background-color: null;
    -fx-background-image: null;
    -fx-background-repeat: no-repeat;
}

.decoration-button-unfullscreen {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-background-image: null;
    -fx-background-repeat: no-repeat;
}

.decoration-button-unfullscreen:hover {
    -fx-background-color: null;
    -fx-background-image: null;
    -fx-background-repeat: no-repeat;
}

/*
*	Resize button
*/
.decoration-button-resize {
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-background-image: url("/images/resizeSE.png");
    -fx-background-repeat: no-repeat;
}

/*
голубой 00aff5
светло синий 008dd4
темно синий 004d70
серый 757575
темно серый 575757
светло серый a8a8a8
белый fafafa
*/